# Analysis for Final Map 
## Lily Cao

The most important map I created maps the average differences between metrics 4 and 5 for each Chicago ward. Before, I found that the average difference for all of Chicago in 2016 was -0.00211, suggesting that outages are associated with a 0.211% *decrease* in crime rate. But is this relationship true for all areas of Chicago? To answer this, I calculated the average difference in every ward (there are 50 in total).

In [1]:
import pandas as pd

In [76]:
street_all_out = pd.read_csv('Street All Out.csv')
street_one_out = pd.read_csv('Street One Out.csv')
df = pd.concat([street_all_out, street_one_out]).dropna()
df = df[~df.Status.str.contains('Dup')]
df = df.loc[df['Creation Date'].str.contains('2016')]
df.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
152147,01/01/2016,Completed,01/04/2016,16-00011231,Street Lights - All/Out,8500 S MARYLAND AVE,60619.0,1.183375e+06,1.848798e+06,8.0,6.0,44.0,41.740292,-87.603712,"(41.740292180994, -87.603711740043)"
152148,01/01/2016,Completed,01/07/2016,16-00012453,Street Lights - All/Out,1341 S CENTRAL PARK AVE,60623.0,1.152592e+06,1.893323e+06,24.0,10.0,29.0,41.863138,-87.715327,"(41.863137937144, -87.715327086831)"
152149,01/01/2016,Completed,01/04/2016,16-00008824,Street Lights - All/Out,9222 S VINCENNES AVE,60620.0,1.171092e+06,1.843569e+06,21.0,22.0,73.0,41.726221,-87.648869,"(41.726220778599, -87.648869410126)"
152150,01/01/2016,Completed,01/04/2016,16-00011796,Street Lights - All/Out,8633 S MARYLAND AVE,60619.0,1.183402e+06,1.847917e+06,8.0,6.0,44.0,41.737874,-87.603640,"(41.737874156443, -87.603639940115)"
152151,01/01/2016,Completed,01/04/2016,16-00012426,Street Lights - All/Out,8600 S COTTAGE GROVE AVE,60619.0,1.183064e+06,1.848128e+06,6.0,6.0,44.0,41.738463,-87.604875,"(41.738462650302, -87.604874776375)"

In [77]:
metric_45 = pd.read_csv('metric45.csv')
metric_45 = metric_45.dropna()
metric_45.head()

,street,4th metric,5th metric,4th > 5th metric,longitude,latitude,metric diff
0,1 E 118TH ST,0.000000,0.005731,False,-87.622716,41.679850,-0.005731
1,1 E 63RD ST,0.000000,0.035191,False,-87.625375,41.780058,-0.035191
2,1 E 69TH ST,0.033333,0.000000,True,-87.624942,41.769194,0.033333
3,1 E WACKER DR,0.000000,0.002770,False,-87.627975,41.886814,-0.002770
4,1 N CENTRAL AVE,0.000000,0.033241,False,-87.764864,41.880246,-0.033241

I created a dictionary mapping each streetlight to it's ward

In [89]:
d = {}
for street in list(metric_45['street']):
    if street not in d:
        d[street] = set(list(df[df['Street Address'] == street]['Ward']))
        
values = []
for v in d.values():
    values.append(v)

In [90]:
all_wards = []
for v in values:
    all_wards.append(v.pop())

Then, I was able to add a ward column to metric_45.

In [87]:
metric_45['ward'] = all_wards
metric_45.head()

,street,4th metric,5th metric,4th > 5th metric,longitude,latitude,metric diff,ward
0,1 E 118TH ST,0.000000,0.005731,False,-87.622716,41.679850,-0.005731,9.0
1,1 E 63RD ST,0.000000,0.035191,False,-87.625375,41.780058,-0.035191,20.0
2,1 E 69TH ST,0.033333,0.000000,True,-87.624942,41.769194,0.033333,6.0
3,1 E WACKER DR,0.000000,0.002770,False,-87.627975,41.886814,-0.002770,42.0
4,1 N CENTRAL AVE,0.000000,0.033241,False,-87.764864,41.880246,-0.033241,29.0

In [161]:
import numpy as np
ward_set = list(set(all_wards))[1:]

m_diff = []
for ward in ward_set:
    m_diff.append([metric_45[metric_45['ward'] == ward]['metric diff']])

In [179]:
mean_diffs = []
for m in m_diff:
    mean_diffs.append(np.mean(m))
    
ward_df = pd.DataFrame(ward_set, columns = ['ward'])
ward_df['metric diff avg.'] = mean_diffs
ward_df.head()

   ward  metric diff avg.
0   1.0         -0.001774
1   2.0          0.000573
2   3.0         -0.003864
3   4.0         -0.005524
4   5.0          0.000133

To map these averages on QGIS, I needed to create a csv with each ward's boundaries. I got ward data from the Chicago Data Portal: https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Wards-2015-/sp34-6z76

This provides information on wards in Chicago from 2015 - present.

In [176]:
ward_bound = pd.read_csv('WARDS_2015.csv')
ward_bound = ward_bound.sort_values(by=['WARD'])
ward_bound['metric diff avg.'] = mean_diffs
ward_bound = ward_bound.sort_values(by=['metric diff avg.'], ascending=False)
ward_bound

,the_geom,WARD,SHAPE_Leng,SHAPE_Area,metric diff avg.
11,MULTIPOLYGON (((-87.7182670339195 41.968802949...,35,67016.637939,5.729772e+07,0.007368
4,MULTIPOLYGON (((-87.66420403810295 42.02126158...,49,38122.692826,4.973346e+07,0.005138
6,MULTIPOLYGON (((-87.80310674705102 41.94000768...,29,107529.243573,1.288191e+08,0.004918
16,MULTIPOLYGON (((-87.7468767639261 41.939274637...,31,50635.783154,6.973976e+07,0.004582
22,MULTIPOLYGON (((-87.72098294925175 41.88805384...,28,119977.208819,1.428797e+08,0.004152
17,MULTIPOLYGON (((-87.6597679100119 41.972676253...,47,53371.305510,8.736364e+07,0.003688
43,MULTIPOLYGON (((-87.76192932195755 41.94874803...,36,91959.983641,8.862418e+07,0.002572
7,MULTIPOLYGON (((-87.71438187841963 41.82673338...,14,90165.797407,1.430110e+08,0.001891
33,MULTIPOLYGON (((-87.63393002737043 41.93301293...,43,48544.534907,6.520637e+07,0.000686
10,MULTIPOLYGON (((-87.66136715149712 41.92723211...,2,110739.852187,5.393481e+07,0.000573
41,MULTIPOLYGON (((-87.67307937168411 41.73565670...,19,102339.878771,2.141151e+08,0.000157
32,MULTIPOLYGON (((-87.58336532818058 41.80585071...,5,102271.665896,1.151960e+08,0.000133
29,MULTIPOLYGON (((-87.67861975935111 41.76081250...,18,65699.143324,1.832570e+08,0.000112
35,MULTIPOLYGON (((-87.62412741777725 41.89921013...,42,62491.459892,7.149471e+07,-0.000407
12,MULTIPOLYGON (((-87.66281697970368 41.75002325...,21,53846.778294,1.424640e+08,-0.000801
42,MULTIPOLYGON (((-87.60954755561103 41.73156612...,9,111742.641889,2.570888e+08,-0.001267
48,MULTIPOLYGON (((-87.70703442704107 41.91922502...,26,69089.882255,7.039119e+07,-0.001283
36,MULTIPOLYGON (((-87.56039187082088 41.76629077...,7,112151.646919,1.240772e+08,-0.001552
19,MULTIPOLYGON (((-87.70353186083463 41.97186350...,33,47062.420075,7.021489e+07,-0.001656
27,MULTIPOLYGON (((-87.71098300412447 41.85174316...,22,63985.118325,1.066337e+08,-0.001658
2,MULTIPOLYGON (((-87.69817510963803 41.81729440...,15,82183.694820,6.558830e+07,-0.001727
40,MULTIPOLYGON (((-87.67817792430289 41.92863165...,1,102569.701480,6.975759e+07,-0.001774
21,MULTIPOLYGON (((-87.63703614720717 41.71745565...,34,78608.653981,1.759288e+08,-0.001915
31,MULTIPOLYGON (((-87.64586542634953 41.77443576...,6,69925.202386,1.205391e+08,-0.002133
0,MULTIPOLYGON (((-87.69623470134458 41.85755495...,12,93073.340838,1.160965e+08,-0.002511
47,MULTIPOLYGON (((-87.64671844681739 41.87432424...,11,82824.463284,1.420935e+08,-0.003090
45,MULTIPOLYGON (((-87.63666399945781 41.91119657...,27,130222.911895,1.632212e+08,-0.003117
34,MULTIPOLYGON (((-87.59014917312479 41.76598133...,8,89830.393200,1.628458e+08,-0.003309
5,MULTIPOLYGON (((-87.71361112161641 41.80053568...,23,125226.472414,1.429823e+08,-0.003517
39,MULTIPOLYGON (((-87.67593594113153 41.93976338...,32,79455.811263,8.545814e+07,-0.003553
28,MULTIPOLYGON (((-87.80655165776021 42.01871833...,41,252516.011482,4.842382e+08,-0.003611
1,MULTIPOLYGON (((-87.66288923669032 41.79883809...,16,97901.323833,1.031436e+08,-0.003807
13,MULTIPOLYGON (((-87.74003920512416 41.87200244...,24,75191.580371,1.046904e+08,-0.003858
8,MULTIPOLYGON (((-87.61821536534679 41.85542351...,3,81530.275167,1.233415e+08,-0.003864
14,MULTIPOLYGON (((-87.7316702423166 41.780375361...,13,91758.167066,1.173330e+08,-0.004239
18,MULTIPOLYGON (((-87.77717155649792 41.96512977...,38,89794.459497,1.743074e+08,-0.004317
3,MULTIPOLYGON (((-87.65524133440029 41.80883316...,20,90105.195618,1.372904e+08,-0.004436
37,MULTIPOLYGON (((-87.70909331045486 41.99038472...,39,73079.993430,1.750965e+08,-0.004731
23,MULTIPOLYGON (((-87.66796195069065 41.99810895...,40,48374.913618,9.592906e+07,-0.004893
26,MULTIPOLYGON (((-87.69017699368844 42.01929375...,50,46116.378880,8.069298e+07,-0.005020
25,MULTIPOLYGON (((-87.64972416765514 41.88268423...,25,105358.092147,1.247347e+08,-0.005276
49,MULTIPOLYGON (((-87.77835411517722 41.99020308...,45,76714.841387,1.253342e+08,-0.005299
9,MULTIPOLYGON (((-87.6259709739332 41.873357458...,4,119468.403755,1.260069e+08,-0.005524
30,MULTIPOLYGON (((-87.69092514943505 41.77800272...,17,100910.871779,1.133836e+08,-0.005998
20,MULTIPOLYGON (((-87.72406088853256 41.94972395...,30,81026.988817,7.373012e+07,-0.006017
46,MULTIPOLYGON (((-87.57837706871902 41.64469462...,10,144026.595563,5.489588e+08,-0.006438
15,MULTIPOLYGON (((-87.65577334687676 41.99819571...,48,34831.993675,4.483892e+07,-0.006579
44,MULTIPOLYGON (((-87.73626311129362 41.90975556...,37,54306.074303,9.612363e+07,-0.006709
38,MULTIPOLYGON (((-87.64427010850973 41.96986390...,46,47937.951060,5.366528e+07,-0.008509
24,MULTIPOLYGON (((-87.65682137887512 41.95160461...,44,46466.272173,4.942286e+07,-0.009077